@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-base {
    @apply w-full rounded-lg p-2 transition;
  }

  .title1,
  .title2,
  .title3,
  .headline1,
  .headline2,
  .body1,
  .body2,
  .body3,
  .body4,
  .body5,
  .body6,
  .caption1,
  .caption2 {
    font-style: normal;
    line-height: normal;
  }

  .title1,
  .title2,
  .title3,
  .headline1,
  .headline2,
  .body2 {
    @apply font-bold;
  }

  [data-state='open'] .rotate-on-open {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  [data-state='closed'] .rotate-on-open {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
}

.body1,
.body5 {
  @apply font-medium;
}

.body3,
.caption1 {
  @apply font-semibold;
}

.title1 {
  font-size: 24px;
}

.title2 {
  font-size: 20px;
}

.title3 {
  font-size: 18px;
}

.headline1 {
  font-size: 16px;
}

.headline2,
.body1 {
  font-size: 15px;
}

.body2,
.body3,
.body4,
.body5 {
  font-size: 14px;
}

.body6 {
  font-size: 13px;
}

.caption1,
.caption2 {
  font-size: 12px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
