@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-base {
    @apply w-full rounded-lg py-3.5 transition;
  }

  .title1,
  .title2,
  .title3,
  .headline1,
  .headline2,
  .body2,
  .body4 {
    @apply font-bold;
  }
}

.body5,
.caption1 {
  @apply font-medium;
}

.title1 {
  font-size: 24px;
}

.title2 {
  font-size: 20px;
}

.title3 {
  font-size: 18px;
}

.headline1 {
  font-size: 16px;
}
.headline2,
.body1 {
  font-size: 15px;
}

.body2,
.body3 {
  font-size: 14px;
}
.body4,
.body5,
.body6 {
  font-size: 12px;
}

.caption1,
.caption2 {
  font-size: 11px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
